/* estilo general */
body {
    background: linear-gradient(to top, #0d0f3d, 30%, #060611);
    margin: 0;
    font-family: Arial, sans-serif;
    color: #cab3ff;
    display: flex;
    flex-direction: column;
}

/*section {
    background-image: url(/static/img/fondo.jpeg);
    background-position:center ;
    background-repeat: no-repeat;
    background-size:contain;
    background-attachment:fixed;
    height: 900px ;
     ;
}
*/
/* Header */
header {
    color: #e0beff;
    background: linear-gradient(to top, #1A1E65, 10%, #080922);
    padding: 20px;
    align-items: center;
    text-align: center;
    border-radius: 20px 20px 0 0;
}

header img {
    width: 140px;
    height: 70px;
}

/* span permite destacar con color cada texto al que se le aplique la etiqueta */
span {
    color: rgb(255, 255, 202);
}

/* prueba de efecto vidrio */
#contenedor-vidrio {
    display: flex;
    justify-content: center;
}

#vidrio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(31, 3, 56, 0.1);
    /* se intenta un efecto de color translucido*/
    border: 1px solid rgba(63, 6, 83, 0.2);
    border-radius: 20px;
    padding: 20px 40px;
    box-shadow: 0 4px 6px rgba(122, 11, 139, 0.2);
    backdrop-filter: blur(10px);
    /*genera un pequeño desenfoque en el fondo*/
    text-align: center;
    max-width: 50%;
}

/*Se crea un contenedor que permita centrar todos los textos dentro de esta clase*/
.contenedor-texto {
    display: flex;
    flex-direction: initial;
    /* Asegura una disposición en la cual la imagen quede al lado del texto */
    text-align: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    width: 90%;
    margin: 70px auto;
    background: rgba(141, 21, 246, 0.763);
    border: 1px solid rgba(71, 10, 94, 0.652);
    border-radius: 20px;
    padding: 30px 50px;
    box-shadow: 0 0px 10px rgba(173, 46, 233, 0.982);
    backdrop-filter: blur(10px);
    text-align: center;
    max-width: 70%;
}

/* contenedor del texto que permite mantener el texto organizado sin que se deforme el titulo o el parrafo*/
.texto {
    display: block;
    text-align: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    width: 70%;
    margin: 20px auto;
}

.texto h2 {
    color: #d9cbf9;
    font-size: 1.5rem;
}

/* barra nav */
nav {
    background-color: #080922;
    padding: 15px 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

nav a {
    text-decoration: none;
    /* evita que se vea la linea del enlace */
    color: #cab3ff;
    transition: color 0.3s ease, transform 0.3s ease;
}

/*al pasar el raton se activa el efecto y genera un cambio de tono y escala */
nav a:hover {
    color: rgb(152, 0, 240);
    transform: scale(1.1);
}

/* Contenido, otro contenedor diseñado para alinear textos principales */
.content {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

.content h2 {
    text-align: center;
    color: #d4a2f1;
    margin: 20px 0;
}

/* Tips */
/*bloque principal que contiene todas las tarjetas de tips */
.tips {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

/* clase que genera la tarjeta de cada tip*/
.tip {
    background-color: #483DB9;
    color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    text-align: center;
    transition: transform 0.3s ease;
    /*permite que el efecto del hover sea mas suave*/

}

/* se activa camiando el color y generando un movimiento pequeño en la tarjeta seleccionada*/
.tip:hover {
    transform: translateY(-5px);
    background: #7600ec;
}


h3 {
    color: #FF9545;
}


.tip h3:hover {
    color: #f8c315;
}


/* tarjetas cradores */
/*div principal que contiene las tarjetas de forma ordenada hacia el centro
con una separación de 30px entre ellas*/
.team-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin: 20px 0px;
}

/*estructura basica de la tarjeta */

.card {
    width: 250px;
    height: 350px;
    perspective: 1000px;
    /*permite generar la perspectiva del efecto 3d*/
}

/*Transforma el elemento al rotarlo en 180 grados al pasar el cursor. */
.card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    /*renderiza el objeto en un espacioo 3d*/
    transition: transform 0.6s ease;
}

/*activa el efecto de rotación en la posición y, al pasar el cursor*/
.card:hover .card-inner {
    transform: rotateY(180deg);
}

/*se genera el codigo general de las dos caras de la tarjeta*/
.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    /*Oculta la cara de la tarjeta que no está al frente en 
    un momento dado (necesario para el efecto de volteo).*/
    border-radius: 10px;
    overflow: hidden;
    /*Evita que el contenido interno de la tarjeta sobresalga.*/
    box-shadow: 2px 6px 6px rgba(166, 51, 255, 0.834);
}


/*se define el diseño y colores internos de la cara frontal*/
.card-front {
    background-color: #28015f;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

/*se colocan los parametros para que la imagen frontal salga redonda*/
.card-front img {
    width: 65%;
    height: 46%;
    object-fit: fill;
    /*hace que la imagen ocupe todo el espacio permitiendola modificar de alto y ancho*/
    border-radius: 100%;

}


.card-back {
    background-color: #6215a5;
    color: #e0a7f1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: rotateY(180deg);
    /*Rota la cara de atras 180° para que quede
     "al revés" inicialmente, haciendo que sea visible al voltear la tarjeta.*/
    padding: 5px;
    text-align: center;
}

/* Carrusel */
.carousel {
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
    width: 70%;
    margin: 20px auto;

}

.carousel-container {
    display: flex;
    transition: transform 0.5s ease;

}

.carousel-item {
    min-width: 100%; /*permite que cada elemento del carrusel tenga al menos el 100% del ancho del contenedor*/
    height: 200px;
    background-color: #0f0911;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1%;
}

.carousel-btn {
    position: absolute;
    top: 50%; /*alinea los botones al centro del carruseñ*/
    transform: translateY(-50%);/*alinea el centro del boton*/
    background: rgba(255, 125, 3, 0.819);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;/*Cambia el cursor a una mano al pasar sobre el botón, mostrnado que es clickeable.*/
    font-size: 18px;
    z-index: 50; /*evita que el boton sea cubierto por otro objeto, estando siempre adelante*/
}

/*se ubican los botones en los extremos respectivos*/

.carousel-btn.prev {
    left: 10px;
}

.carousel-btn.next {
    right: 10px;
}

.carousel-btn:hover {
    background: rgba(103, 0, 182, 0.8);
}

/*contenedor de txto*/
.main-content {
    display: block;
    text-align: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    width: 70%;
    margin: 20px auto;
}

.resources {
    display: block;
    text-align: center;
    background-color:  rgba(103, 0, 182, 0.8);
    border-radius: 20px;
    box-shadow: 0 0px 10px rgba(173, 46, 233, 0.982);
    width: auto;
    justify-content: center;
    overflow: hidden;
    width: 83%;
    margin: 20px auto;
    
    
}
/* Footer */
footer {
    background-color: #0d0f3d;
    color: rgb(193, 158, 250);
    padding: 20px;
    text-align: center;
    margin-top: 20px;
}

.game-container {display: none;
    justify-content: center;
    justify-items: center;
    text-align: center;
}

#scoreboard {
    margin-bottom: 20px;
    font-size: 1.5rem;
}

.game-area {
    position: relative;
    width: 400px;
    height: 600px;
    border: 2px solid #228B22;
    background: linear-gradient(to bottom, #e1b1fb, #b2ebf2);
    overflow: hidden;
}

.player {
    position: absolute;
    bottom: 10px;
    left: 180px;
    width: 40px;
    height: 40px;
    background-color: #8a11f4;
    border-radius: 50%;
}

.item {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.coin {
    background-color: #FFD700;
}

.expense {
    background-color: #FF4500;
}

#startButton {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #228B22;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

#startButton:hover {
    background-color: #006400;
}

/* diseño responsivo */
@media (max-width: 400px) {
    .carrousel-item {
        padding: 15px 20px;
        max-width: 90%;
    }

    .carousel-item {
        font-size: 13px;
    }

    .tip,
    .card {
        width: 50%;
    }

    nav {
        gap: 30px;
    }

    .contenedor-texto {
        flex-direction: column;
        padding: 10px 15px;
    }

    .texto {
        width: 100%;
        /* Aprovecha todo el ancho */
    }

    .texto h2 {
        font-size: 1rem;
        /* Fuente más legible */
    }

    .contenedor-map{
        width: 50%;
    }

    #markdown-container{
        width: 40%;
        max-width: 600px; /* Limitar el ancho máximo */
        height:500px;
        padding: 10px;
    }

}

/* Contenedor para centrar los botones */
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

/* Estilo para los botones creados */
button {
    background: linear-gradient(to top, rgb(208, 66, 14), rgb(241, 190, 6));
    /* degradado de naranja */
    color: rgb(41, 9, 67);
    /* Texto en blanco */
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    transition: all 0.3s ease;
}

/* efecto con el raton encima */
button:hover {
    box-shadow: 0 0 30 #f4e84c;
    background: color, linear-gradient(to top, rgb(69, 3, 99), rgb(148, 5, 177));
    /* morado degradado */
    transform: scale(1.1);
    /* Efecto de agrandamiento */

}

.contenedor-map {
    display: flex;
    flex-direction: initial;
    /* Asegura una disposición en la cual la imagen quede al lado del texto */
    text-align: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    width: 70%;
    margin: 70px auto;
    background:linear-gradient(to bottom,rgba(141, 21, 246, 0.763), #0d0f3d) ;
    border: 1px solid rgba(71, 10, 94, 0.652);
    border-radius: 20px;
    padding: 30px 3px;
    box-shadow: 0 0px 10px rgba(74, 15, 129, 0.982);
    backdrop-filter: blur(10px);
    text-align: center;
    max-width: 70%;
}

.mindmap {
    display: block;
    width: 60vw;
    height: 100vh;
  }

  #markdown-container {
    display: block;
    margin:auto ;
    background-color: white; /* Fondo del Markdown */
    width: 80%;
    max-width: 1000px; /* Limitar el ancho máximo */
    height:600px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 3px 10px rgba(166, 51, 255, 0.834);
    /*box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
    overflow: hidden; /* Para evitar que los elementos del SVG se salgan */
  }