/* General */
body {
    background:linear-gradient(to top,#0d0f3d,30%, #060611);
    margin: 0;
    font-family: Arial, sans-serif;
    color: #cab3ff;
    display: flex;
    flex-direction: column;
}

/* Header */
header {
    color:  #e0beff;
    background:linear-gradient(to top,#1A1E65,10%, #080922);
    padding: 20px;
    align-items: center;
    text-align: center;
    border-radius: 20px 20px 0 0;
}

header img {
    width: 140px;
    height: 70px;
}

span{color: rgb(255, 255, 202);}
#contenedor-vidrio {
    display: flex;
    justify-content: center;
}

#vidrio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(31, 3, 56, 0.1);
    border: 1px solid rgba(63, 6, 83, 0.2);
    border-radius: 20px;
    padding: 20px 40px;
    box-shadow: 0 4px 6px rgba(122, 11, 139, 0.2);
    backdrop-filter: blur(10px);
    text-align: center;
    max-width: 50%;
}

/* Navigation */
nav {
    background-color: #080922;
    padding: 15px 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

nav a {
    text-decoration: none;
    color: #cab3ff;
    transition: color 0.3s ease, transform 0.3s ease;
}

nav a:hover {
    color: rgb(152, 0, 240);
    transform: scale(1.1);
}

/* Content */
.content {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

.content h2 {
    text-align: center;
    color: #d4a2f1;
    margin: 20px 0;
}

/* Tips */
.tips {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.tip {
    background-color: #483DB9;
    color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    text-align: center;
    transition: transform 0.3s ease;
}

.tip:hover {
    transform: translateY(-5px);
    background: #7600ec;
}


h3{color: #FF9545;}


.tip h3:hover {color: #f8c315;}


/* Team Cards */
.team-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin: 20px 0px;
}

.card {
    width: 250px;
    height: 350px;
    perspective: 1000px;
}

.card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s ease;
}

.card:hover .card-inner {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 2px 6px 6px rgba(166, 51, 255, 0.834);
}

.card-front {
    background-color: #bd5521;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-front img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-back {
    background-color: #9e1dcd;
    color: #e0a7f1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: rotateY(180deg);
    padding: 5px;
    text-align: center;
}

/* Carousel */
.carousel {
    display: flexbox;
    justify-content: center;
    position: relative;
    overflow: hidden;
    width: 70%;
    margin: 20px auto;

}

.carousel-container {
    display: flex;

    transition: transform 0.5s ease;

}

.carousel-item {
    min-width: 100%;
    height: 200px;
    background-color: #0f0911;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 20px;
    border-radius:1% ;
}

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 125, 3, 0.819);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    z-index: 10;
}

.carousel-btn.prev {
    left: 10px;
}

.carousel-btn.next {
    right: 10px;
}

.carousel-btn:hover {
    background: rgba(103, 0, 182, 0.8);
}

.main-content{display: flexbox;
    text-align: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    width: 70%;
    margin: 20px auto;}

/* Footer */
footer {
    background-color: #0d0f3d;
    color: rgb(193, 158, 250);
    padding: 20px;
    text-align: center;
    margin-top: 20px;
}

/* Responsive Design */
@media (max-width: 400px) {
    .carrousel-item {
        padding: 15px 20px;
        max-width: 90%;
    }

    .carousel-item {
        font-size: 13px;
    }

    .tip,
    .card {
        width: 50%;
    }

    nav {
        gap: 30px;
    }
}

/* Contenedor para centrar los botones */
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

/* Estilo para los botones */
button {
    background: linear-gradient(to top, rgb(208, 66, 14), rgb(241, 190, 6));
    /* degradado de naranja */
    color: rgb(41, 9, 67);
    /* Texto en blanco */
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    transition: all 0.3s ease;
}

/* Efecto hover */
button:hover {
    box-shadow: 0 0 30 #f4e84c;
    background: color, linear-gradient(to top, rgb(69, 3, 99), rgb(148, 5, 177));
    /* morado degradado */
    transform: scale(1.1);
    /* Efecto de agrandamiento */

}

/* Efecto activo */
button:active {
    box-shadow: 0 0 30 #f4e84c;
    background: color, linear-gradient(to top, rgb(69, 3, 99), rgb(148, 5, 177));
    /* morado degradado */
    transform: scale(0.95);
    /* Leve reducción */
}