{% extends './layout.html'%}
{%block title%} Creadores {%endblock%}
{% block body %}


<div class="content">
    <div class="main-content">
        <h2>Nuestro Equipo</h2>
        <p>Conoce a los expertos que diseñaron esta pagina para transformar tu educación financiera.</p>
    </div>

    <div class="team-cards">
        <div class="card">
            <div class="card-inner">
                <div class="card-front">
                    <img src="/static/img/img5.jpg" alt="Persona 1">
                    <br>
                    <div>
                        <h2>Lauren Galvis</h2>
                    </div>
                </div>
                <div class="card-back">
                    <img src="/static/img/opcion1.jpg" alt="" style="height: 120px;width:90px; border-radius:10px;">
                    <h3>Lauren Galvis</h3>
                    <p>Rol: Desarrolladora back-end</p>
                    <p>Coordina creativamente el manejo de datos y creación de graficos estadisticos</p>

                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-inner">
                <div class="card-front">
                    <img src="/static/img/img4.jpg" alt="Persona 2">
                    <div>
                        <br>
                        <h2>Angela Esteban</h2>
                    </div>
                </div>
                <div class="card-back">
                    <img src="/static/img/opcion2.jpg" alt="" style="height: 120px;width:80px; border-radius:10px;">
                    <h3>Angela Esteban</h3>
                    <p>Rol: Coordinadora de proyectos</p>
                    <p>Coordina de manera acertiva la información y creación de contenidos
                        informativos y metodologicos</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-inner">
                <div class="card-front">
                    <img src="/static/img/img6.jpg" alt="Persona 2">
                    <div>
                        <br>
                        <h2>Victor Atehortua</h2>
                    </div>
                </div>
                <div class="card-back">
                    <img src="/static/img/opcion 3.JPG" alt="" style="height: 120px;width:85px; border-radius:10px;">
                    <h3>Victor Atehortua</h3>
                    <p>Rol: programador front-end</p>
                    <p>crea y armoniza de manera creativa la interfaz de la pagina, buscando una mejor experiencia de usuario</p>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}