{% extends './layout.html'%}
{%block title%} Creadores {%endblock%}
{% block body %}


<div class="content">
    <div class="main-content">
        <h2>Nuestro Equipo</h2>
        <p>Conoce a los expertos que diseñaron este programa para transformar tu educación financiera.</p>
    </div>

    <div class="team-cards">
        <div class="card">
            <div class="card-inner">
                <div class="card-front">
                    <img src="/static/img/img5.jpg" alt="Persona 1">
                    <br>
                    <div>
                        <h2>Lauren Galvis</h2>
                    </div>
                </div>
                <div class="card-back">
                    <h3>Nombre de Persona</h3>
                    <p>Rol: Desarrollador Web</p>
                    <p>Email: ejemplo@correo.com</p>
                    <p>Teléfono: +57 123 456 7890</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-inner">
                <div class="card-front">
                    <img src="/static/img/img4.jpg" alt="Persona 2">
                    <div>
                        <br>
                        <h2>Angela Esteban</h2>
                    </div>
                </div>
                <div class="card-back">
                    <h3>Nombre de Persona</h3>
                    <p>Rol: Diseñador Gráfico</p>
                    <p>Email: ejemplo2@correo.com</p>
                    <p>Teléfono: +57 987 654 3210</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-inner">
                <div class="card-front">
                    <img src="/static/img/img6.jpg" alt="Persona 2">
                    <div>
                        <br>
                        <h2>Victor Atehortua</h2>
                    </div>
                </div>
                <div class="card-back">
                    <h3>Nombre de Persona</h3>
                    <p>Rol: Diseñador Gráfico</p>
                    <p>Email: ejemplo2@correo.com</p>
                    <p>Teléfono: +57 987 654 3210</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-inner">
                <div class="card-front">
                    <img src="/static/img/img7.jpg" alt="Persona 2">
                    <div>
                        <br>
                        <h2>Matias Osorio</h2>
                    </div>
                </div>
                <div class="card-back">
                    <h3>Nombre de Persona</h3>
                    <p>Rol: Diseñador Gráfico</p>
                    <p>Email: ejemplo2@correo.com</p>
                    <p>Teléfono: +57 987 654 3210</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}