<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creadores - ChinChin</title>
    <link rel="stylesheet" href="{{url_for('static',filename = 'CSS/creadores.css')}}">
</head>

<body>
    <header>
        <h1>Conoce a los Creadores</h1>
        <p>El equipo detrás de "Finanzas Claras"</p>
    </header>

    <nav>
        <a href="/">Inicio</a>
        <a href="tips.html">Tips</a>
        <a href="creadores.html">Creadores</a>
        <a href="estadisticas.html">Estadísticas</a>
        <a href="contacto.html">Contacto</a>
    </nav>

    <div class="content">
        <h2>Nuestro Equipo</h2>
        <p>Conoce a los expertos que diseñaron este programa para transformar tu educación financiera.</p>

        <div class="cards">
            <div class="card">
                <img src="integrante1.jpg" alt="Foto de Angela">
                <h3>Angela Esteban Martinez</h3>
                <p>Texto complementario</p>
            </div>

            <div class="card">
                <img src="integrante2.jpg" alt="Foto de Lauren">
                <h3>Lauren J. Galvis Aristizabal</h3>
                <p>Texto complementario</p>
            </div> 

            <div class="card">
                <img src="integrante3.jpg" alt="Foto de Mathias">
                <h3>Mathias</h3>
                <p>Texto complementario</p>
            </div>

            <div class="card">
                <img src="integrante4.jpg" alt="Foto de Victor">
                <h3>Victor M. Atehortua Alvarez</h3>
                <p>Texto complementario</p>
            </div>
        </div>
    </div>

    <footer>
        <p> Talento Tech | © 2024 - Bootcamp programacion Explorador</p>
    </footer>
</body>

</html>
