{% extends './layout.html'%}
{%block title%} DATEATE {%endblock%}
{% block body %}

<div class="main-content">
    <h2>¡SON DATOS Y HAY QUE DARLOS!</h2>
    <p style>
        <strong>LAS ESTADÍSTICAS NOS DAN LA RAZÓN</strong><br><br> Las y los jóvenes pereiranos destinan entre el <strong>10%</strong> y el <strong>20%</strong> de sus ingresos mensuales, <br>para cubrir deudas como créditos educativos, pago de tarjetas y préstamos informales. 
    </p>
</div>

<div class="button-container">
    <button class="btn btn-primary" onclick="location.href='tips.html'">Explorar Tips</button>
</div>

<div class="main-content">
    <h1>Relación entre Tipos de Deudas y Rangos de Edad</h1>
    <img src="/static/img/Figure_1.png" alt="Gráfico de deudas y edad"
        style="width:800px ;height:600px; border-radius:15px">
</div>

{% endblock %}