{% extends './layout.html'%}
{%block title%} Estadisticas {%endblock%}
{% block body %}

<div class="main-content">
    <h2>¡Bienvenido a estadisticas!</h2>
    <p>
        Aprende cómo evitar el sobreendeudamiento, manejar tus finanzas personales y tomar decisiones
        económicas que cambien tu vida. Explora nuestras secciones llenas de consejos prácticos y datos
        interesantes que te ayudarán a mejorar
        tu relación con el dinero.
    </p>
</div>

<div class="button-container">
    <button class="btn btn-primary" onclick="location.href='tips.html'">Explorar Tips</button>
</div>

<div class="main-content">
    <h1>Destino de ingresos según edades</h1>
    <img src="/static/img/1.destino_ingresos_rango_edad.png" alt="Gráfico de destino de ingresos por edad"
        style="width:800px ;height:600px; border-radius:15px">
</div>

<div class="main-content">
    <h1>Cúales son las deudas</h1>
    <img src="/static/img/2.Deudas_rango_edad.png" alt="Gráfico de deudas y edad"
        style="width:800px ;height:600px; border-radius:15px">
</div>

<div class="main-content">
    <h1>Cómo quieren ahorra</h1>
    <img src="/static/img/3.grafico_torta_aprender.png" alt="Gráfico de tipo de educacion"
        style="width:800px ;height:600px; border-radius:15px">
</div>

{% endblock %}