{% extends './layout.html'%}
{%block title%} Inicio {%endblock%}
{% block body %}

<div class="content">
    <h2>Explora Nuestras Secciones</h2>
    <div class="carousel">
        <div class="carousel-container">
            <div class="carousel-item">Imagen 1</div>
            <div class="carousel-item">Imagen 2</div>
            <div class="carousel-item">Imagen 3</div>
        </div>
        <button class="carousel-btn prev">❮</button>
        <button class="carousel-btn next">❯</button>
    </div>
</div>

<div class="main-content">
    <h2>¡Bienvenido a Finanzas Claras!</h2>
    <p>
        Aprende cómo evitar el sobreendeudamiento, manejar tus finanzas personales y tomar decisiones
        económicas que cambien tu vida. Explora nuestras secciones llenas de consejos prácticos y datos
        interesantes que te ayudarán a mejorar
        tu relación con el dinero.
    </p>
</div>

<div class="button-container">
    <button class="btn btn-primary" onclick="location.href='tips.html'">Explorar Tips</button>
</div>

<script src="/static/JS/carousel.js"></script>
{% endblock %}