
{% extends './layout.html'%}
{%block title%} Inicio {%endblock%}
{% block body %}

<div class="main-content">
    <h2>¡Bienvenido a Finanzas Claras!</h2>
    <p>
        Aprende cómo evitar el sobreendeudamiento, manejar tus finanzas personales y tomar decisiones
        económicas que cambien tu vida. Explora nuestras secciones llenas de consejos prácticos y datos
        interesantes que te ayudarán a mejorar tu relación con el dinero.
    </p>
</div>

<div class="button-container">
    <button  class="btn btn-primary" onclick="location.href='tips.html'">Explorar Tips</button>
</div>
{% endblock %} 

<!--<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChinChin</title>
    <link rel="stylesheet" href="{{url_for('static',filename = 'CSS/chinchinhome.css')}}">
</head>

<body>
    <header>
        <h1>Chin Chin</h1>
        <p>Empieza a manejar tu dinero con inteligencia</p>
    </header>

    <nav>
        
        <a href="tips.html">Tips</a>
        <a href="creadores.html">Creadores</a>
        <a href="index.html"><img src="{{url_for('static',filename = 'img/logo.png')}}" alt=""></a>
        <a href="#">Estadísticas</a>
        <a href="/">Inicio</a>
    </nav>

    <div class="main-content">
        <h2>¡Bienvenido a Finanzas Claras!</h2>
        <p>
            Aprende cómo evitar el sobreendeudamiento, manejar tus finanzas personales y tomar decisiones
            económicas que cambien tu vida. Explora nuestras secciones llenas de consejos prácticos y datos
            interesantes que te ayudarán a mejorar tu relación con el dinero.
        </p>
    </div>

    <div class="button-container">
        <button onclick="location.href='tips.html'">Explorar Tips</button>
    </div>

    <footer>
        <p> Talento Tech | © 2024 - Bootcamp programacion Explorador</p>
    </footer>
</body>

</html> -->


