{% extends './layout.html'%}
{%block title%} Inicio {%endblock%}
{% block body %}

<div class="content">
    <h2>Conoce más sobre tus finanzas</h2>
    <div class="carousel">
        <div class="carousel-container">
            <div class="carousel-item">
                <img src="{{url_for('static',filename = 'img/img1.png')}}" alt="imagen banner" width="750px"
                    height="200px" class="d-inline-block align-text-top">
            </div>
            <div class="carousel-item"><img src="{{url_for('static',filename = 'img/img2.png')}}" alt="imagen banner"
                    width="750px" height="200px" class="d-inline-block align-text-top"></div>
            <div class="carousel-item"><img src="{{url_for('static',filename = 'img/img3.png')}}" alt="imagen banner"
                    width="750px" height="200px" class="d-inline-block align-text-top"></div>
        </div>
        <button class="carousel-btn prev">❮</button>
        <button class="carousel-btn next">❯</button>
    </div>
</div>

<div class="main-content">
    <h2>¡Bienvenido a Finanzas Claras!</h2>

    <p>¿Sabías que el 79% de los hogares en Pereira tienen al menos una deuda activa? Manejar tus finanzas no tiene por
        qué ser complicado. En Finanzas Claras, queremos enseñarte cómo tomar decisiones financieras inteligentes y
        asegurar tu bienestar económico. ¡Únete a nosotros y transforma tu relación con el dinero!"
    </p>
</div>

<div class="main-content">
    <h2>Aprende un poco sobre tu dinero</h2>

    <p> Aprende cómo evitar el <span>sobreendeudamiento</span>, manejar tus finanzas personales y tomar <span>decisiones
            económicas que cambien tu vida.</span> Explora nuestras secciones llenas de consejos prácticos y datos
        interesantes que te ayudarán a mejorar
        tu relación con el dinero.</p>
    </p>

    <img src="/static/img/ilustracion 1.png" alt="" style="height: 250px;width:270px">

    <p>
        "La educación financiera es clave para evitar el sobreendeudamiento y mejorar tu calidad de vida. Aprender a
        presupuestar, ahorrar y manejar créditos puede ser la diferencia entre estrés financiero y estabilidad
        económica. ¡Descubre cómo con nosotros!"

    </p>


</div>
<div class="button-container">
    <button class="btn btn-primary" onclick="location.href='tips.html'">Explorar Tips</button>
</div>

<script src="/static/JS/carousel.js"></script>
{% endblock %}