{% extends './layout.html'%}
{%block title%} Tips {%endblock%}

{% block body %}


<div class="content">
    <h2>Consejos Prácticos para Mejorar tus Finanzas</h2>

    <div class="main-content">
        <div class="contenedor-texto">
            <div class="texto">
                <h2>Un poco de salud financiera</h2>

                <p> "¡Recuerda! Tomar decisiones financieras responsables puede mejorar tu bienestar, reducir el estrés
                    y ayudarte a alcanzar tus metas a largo plazo. Descubre más en nuestras guías completas."
                </p>

            </div>
            <img src="/static/img/ilustración 2.png" alt="" style="height: 250px;width:270px">
        </div>


    </div>

    <div class=" tips">
        <div class="tip">
            <h3>HAZ UN PRESUPUESTO</h3>
            <p>Solo el 30% de los hogares conoce sus gastos mensuales. Lleva un registro de tus ingresos y egresos para
                organizar tu dinero.</p>
        </div>
        <div class="tip">
            <h3>AHORRA PROGRESIVAMENTE</h3>
            <p>Empieza ahorrando un pequeño porcentaje de tu ingreso. ¡Cada moneda cuenta para tus metas futuras!</p>
        </div>
        <div class="tip">
            <h3>EVITA EL SOBREENDEUDAMIENTO</h3>
            <p>Antes de adquirir una deuda, evalúa si es realmente necesaria. Prioriza tus necesidades sobre tus deseos.
            </p>
        </div>
        <div class="tip">
            <h3>CRÉDITOS RESPONSABLES</h3>
            <p>Compara tasas de interés y plazos antes de aceptar un crédito. ¡El crédito adecuado hace la diferencia!</p>
        </div>
        <div class="tip">
            <h3>DIVIDE TUS GASTOS</h3>
            <p>Divídelos en necesidades, deudas y ahorros. Así reduces la dependencia de la tarjeta de crédito para gastos cotidianos.</p>
        </div>
        <div class="tip">
            <h3>PAGO ACELERADO DE DEUDAS</h3>
            <p>Enfócate en pagar las deudas con tasa de interés más altas, mientras haces los pagos mínimos en el resto.</p>
        </div>
    
    </div>

    <div class="game-container">
        <div id="scoreboard">
            <p>Ahorro: <span id="score">0</span> monedas</p>
        </div>
        <div class="game-area" id="gameArea">
            <div class="player" id="player"></div>
        </div>
        <button id="startButton">Iniciar Juego</button>
    </div>
   
</div>
<script src="/static/JS/game.js"></script>
{% endblock %}